[% MACRO include_exercise(ex) BLOCK %]
<a name="[% exercise %]"></a>
  [% IF c.user_exists %]
    [% INCLUDE 'exercise/load_exercise.tt' exercise = ex %]
  [% ELSE %]
    [% INCLUDE 'exercise/login_invite.tt' exercise = ex %]
    [%# login_invite(ex) %]
  [% END %]
[% END %]
[%# INCLUDE macros.tt %]

   [% USE Markdown %]
   [% content | evaltt | markdown %]

