<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-GB">
 <head>
  [%# INCLUDE '_includes/head.html' %]
  [%# INCLUDE '_includes/ga.html' %]
  <meta name="description" content="[% meta.description %]" />
  <title>[% title %]</title>
 </head>
 <body>
  <div class="container">
    [%# INCLUDE _includes/leftnav.html %]
   <div class="span-17 last">
   [% USE Markdown %]
   [% content | evaltt | markdown %]
  <p><small>Last modified: [% ctime.iso8601 %]</small></p>
  <p>
   <small><a href="/~castaway/web">Home</a></small>
  </p>
  </div>
 </div>
 </body>
</html>
