
<ul>
  [% FOREACH nav = navigation %]
    [% IF nav.url %]
      <li><a href="[% nav.url %]" [% IF nav.url == current_page %] class="current"[% END %]>[% nav.name %]</a></li>
    [% ELSE %]
      <li><strong>[% nav.name %]</strong></li>
    [% END %]
  [% END %]
</ul>